//Widescreen
@include mediaXl{
  .works {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Desktop/Laptops
@include mediaLg{
  .works {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-info {
    grid-template-areas:
            'bioimage'
            'bio'
            'job-1'
            'job-2'
            'job-3';

    grid-template-columns: 1fr;
  }
}

//Tablets
@include mediaMd{
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 60vh;
    transform: translate3d(-100,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 40vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url(../img/portrait/sarahPortrait.jpg); //Change for a smaller image
      background-size: 13rem;
      width: 200px;
      height: 200px;
    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job-1'
    'job-2'
    'job-3';

    grid-template-columns: 1fr;

    .bio-img{
      width: 200px;
      height: 250px;
    }
  }

  .works {
    grid-template-columns: repeat(1, 1fr);
  }

  div {
    font-size: 1rem;
  }

  .panel-wrap {
    .show {
      visibility: hidden;
    }
  }
}


//Phones
@include mediaSm{
  //Test for menu
  main{
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 60vh;
    transform: translate3d(-100,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 40vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url(../img/portrait/sarahPortrait.jpg); //Change for a smaller image
      background-size: 13rem;
      width: 200px;
      height: 200px;
    }
  }
  //End test for menu

  //Eliminate transform of the menu button
  .menu-btn  {
    transform: none;

    &.close {
      padding-top: 0;
      transform: none;
    }
  }

 //Main title on index resize for smaller screens
  main#home h1 {
    .safari10 {
      margin-top: 10vh;
      font-size: 4rem;
    }
    margin-top: 10vh;
    font-size: 4rem;
  }

  .works {
    grid-template-columns: repeat(1, 1fr);
  }

  .panel-wrap {
    .show {
      visibility: hidden;
    }
  }

  .about-info {
    .bio-img {
      width: 200px;
      height: 200px;
    }
  }

  .boxes {
    div{
      font-size: 1.5rem;
    }
  }

}