@import 'config';
@import 'menu';


//Whole project
*{
  box-sizing: border-box;
}



//Main body css
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}



//Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem; //Remember that this is multiplying the size of the standard html text size (16px)

  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);

  }
}


//Links or Buttons
a {
  color: white;
  text-decoration: none;

}


//Header. This will also includes the menu button
header{
  position: fixed; //This will keep the menu button at the very top
  z-index: 2;
  width: 100%;

}


//Applies to the span for the lastname
.text-secondary {
  color: $secondary-color
}


//Main block and Icons
main {
  //section
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px); //This applies a min height of a 100% to the content of the page minus
  //the footer, regardless of the content of the page

  &#home {
    overflow: hidden; //No scrollbars

    h1 {
      margin-top: 20vh;
    }
  }

  .icons {  //Full icon section
    margin-top: 1rem;

    a { //Separation between icons
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut
      }
    }
  }
}


//About me page for the main organization
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio bio' //3 sections
  'job-1 job-2 job-3'; //3 sections
   grid-template-columns: repeat(3, 1fr);

  //Determination of the actual content of each section. Contents of the about-info
  //will apply to this since these areas are called on the about-info
  .bio-img {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border-color: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem ;
  }

  .job-1{
    grid-area: job-1;
  }
  .job-2 {
    grid-area: job-2;
  }
  .job-3{
    grid-area: job-3;
  }

  .job{
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}


@import 'mobile';  //Configuration of the media queries need to be loaded last